<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--principal -->
  <servlet>
    <servlet-name>ServletVoluntech</servlet-name>
    <servlet-class>com.voluntech.demo.HolaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVoluntech</servlet-name>
    <url-pattern>/voluntech</url-pattern>
  </servlet-mapping>
  <!--Ofertas-->
  <servlet>
    <servlet-name>getOfertas</servlet-name>
    <servlet-class>com.voluntech.demo.getOfertas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getOfertas</servlet-name>
    <url-pattern>/getOfertas</url-pattern>
  </servlet-mapping>
  <!-- GetCurrentUser-->
  <servlet>
  <servlet-name>GetCurrentUser</servlet-name>
  <servlet-class>com.voluntech.demo.GetCurrentUser</servlet-class>
  </servlet>c
  <servlet-mapping>
    <servlet-name>GetCurrentUser</servlet-name>
    <url-pattern>/GetCurrentUser</url-pattern>
  </servlet-mapping>
  <!-- GetOfertasUsuario-->
   <servlet>
  <servlet-name>GetOfertasUsuario</servlet-name>
  <servlet-class>com.voluntech.demo.GetOfertasUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOfertasUsuario</servlet-name>
    <url-pattern>/GetOfertasUsuario</url-pattern>
  </servlet-mapping>
  <!-- GetOfertasMentor-->
  <servlet>
  <servlet-name>GetOfertasMentor</servlet-name>
  <servlet-class>com.voluntech.demo.GetOfertasMentor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOfertasMentor</servlet-name>
    <url-pattern>/GetOfertasMentor</url-pattern>
  </servlet-mapping>
  <!-- GetOfertasEmpresa-->
  <servlet>
  <servlet-name>GetOfertasEmpresa</servlet-name>
  <servlet-class>com.voluntech.demo.GetOfertasEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOfertasEmpresa</servlet-name>
    <url-pattern>/GetOfertasEmpresa</url-pattern>
  </servlet-mapping>
  <!--GetOfertasValidadas-->
    <servlet>
  <servlet-name>GetOfertasValidadas</servlet-name>
  <servlet-class>com.voluntech.demo.GetOfertasValidadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOfertasValidadas</servlet-name>
    <url-pattern>/GetOfertasValidadas</url-pattern>
  </servlet-mapping>
  <!-- PutInsertOfertas-->
  <servlet>
  <servlet-name>PutInsertOfertas</servlet-name>
  <servlet-class>com.voluntech.demo.PutInsertOfertas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutInsertOfertas</servlet-name>
    <url-pattern>/PutInsertOfertas</url-pattern>
  </servlet-mapping>
  <!-- GetUsuarioEnOferta-->
  <servlet>
  <servlet-name>GetUsuarioEnOferta</servlet-name>
  <servlet-class>com.voluntech.demo.GetUsuarioEnOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsuarioEnOferta</servlet-name>
    <url-pattern>/GetUsuarioEnOferta</url-pattern>
  </servlet-mapping>
  <!--ModificaOferta-->
  <servlet>
  <servlet-name>ModificaOferta</servlet-name>
  <servlet-class>com.voluntech.demo.ModificaOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaOferta</servlet-name>
    <url-pattern>/ModificaOferta</url-pattern>
  </servlet-mapping>
  <!--SetValidacion-->
  <servlet>
  <servlet-name>SetValidacion</servlet-name>
  <servlet-class>com.voluntech.demo.SetValidacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetValidacion</servlet-name>
    <url-pattern>/SetValidacion</url-pattern>
  </servlet-mapping>
  <!--SetTermino-->
  <servlet>
  <servlet-name>SetTermino</servlet-name>
  <servlet-class>com.voluntech.demo.SetTermino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetTermino</servlet-name>
    <url-pattern>/SetTermino</url-pattern>
  </servlet-mapping>
  <!--GetMentor-->
  <servlet>
  <servlet-name>GetMentor</servlet-name>
  <servlet-class>com.voluntech.demo.GetMentor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMentor</servlet-name>
    <url-pattern>/GetMentor</url-pattern>
  </servlet-mapping>
  <!--GetEmpresa-->
   <servlet>
  <servlet-name>GetEmpresa</servlet-name>
  <servlet-class>com.voluntech.demo.GetEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmpresa</servlet-name>
    <url-pattern>/GetEmpresa</url-pattern>
  </servlet-mapping>
  <!--SetUsersIntoOfertas-->
  <servlet>
  <servlet-name>SetUserIntoOfertas</servlet-name>
  <servlet-class>com.voluntech.demo.SetUserIntoOfertas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUserIntoOfertas</servlet-name>
    <url-pattern>/SetUserIntoOfertas</url-pattern>
  </servlet-mapping>
    <!--DeleteUserOferta-->
  <servlet>
    <servlet-name>DeleteUserOferta</servlet-name>
    <servlet-class>com.voluntech.demo.DeleteUserOferta</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>DeleteUserOferta</servlet-name>
      <url-pattern>/DeleteUserOferta</url-pattern>
    </servlet-mapping>
        <!--DeleteOfertaa-->
  <servlet>
    <servlet-name>DeleteOferta</servlet-name>
    <servlet-class>com.voluntech.demo.DeleteOferta</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>DeleteOferta</servlet-name>
      <url-pattern>/DeleteOferta</url-pattern>
    </servlet-mapping>
  <!-- Cors-->
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>